<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025 Ping Identity Corporation. All rights reserved.
  ~
  ~ This software may be modified and distributed under the terms
  ~ of the MIT license. See the LICENSE file for details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application>
        <activity
            android:name=".authenticator.BiometricPromptActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:finishOnTaskLaunch="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.pingidentity.device.binding.journey.CallbackInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>